In [1]:
from sklearn.linear_model import RidgeCV

In [2]:
import pandas as pd

In [38]:
df = pd.read_csv("export.csv")
df.head()

,year_,month_,day_,percent_change_,Close_,Close_DB_,bitcoin,co,http,btc,...,2021,today,world,solana,hold,let,link,daili,bscgem,soon
0,2021,2,5,-0.028574,38144,39266,1279,1738,1734,1223,...,75,43,14,1,25,62,59,33,0,19
1,2021,2,6,0.009331,39266,38903,2553,3171,3169,2540,...,138,69,22,1,46,203,98,39,0,46
2,2021,2,7,-0.157871,38903,46196,2093,3030,3029,1948,...,123,55,40,0,44,197,78,29,0,42
3,2021,2,8,-0.006132,46196,46481,5064,5182,5173,4682,...,150,173,87,1,73,224,87,57,0,60
4,2021,2,9,0.034797,46481,44918,3574,4245,4235,3276,...,154,150,73,1,55,210,93,46,0,57

In [54]:
feat = list(df.corr()["Close_"].abs().sort_values()[104-22:].index)
feat.remove("year_")
feat.remove("month_")

In [59]:
feat

['exchang',
 'long',
 '3',
 'bscgem',
 'cryptonew',
 'hope',
 'futur',
 '0',
 'project',
 'airdrop',
 'doge',
 'bsc',
 'shib',
 'signal',
 '2021',
 'daili',
 '2022',
 'last',
 'Close_DB_',
 'Close_']

In [5]:
 from sklearn.preprocessing import OneHotEncoder

In [25]:
cat = df[["year_", "month_"]]

In [26]:
enc = OneHotEncoder( drop='first')

enc.fit(cat)
vals = enc.transform(cat).toarray()
cols = enc.get_feature_names(["year_", "month_"])

In [55]:
df = df[feat].merge(pd.DataFrame(vals, columns=cols), right_index=True, left_index=True)

In [56]:
df

,exchang,long,3,bscgem,cryptonew,hope,futur,0,project,airdrop,...,month__3,month__4,month__5,month__6,month__7,month__8,month__9,month__10,month__11,month__12
0,31,13,51,0,8,9,17,253,12,14,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,44,37,101,0,11,15,29,449,55,7,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,39,29,97,0,27,20,124,420,33,9,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,79,55,100,0,21,23,102,465,50,12,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,70,47,94,0,25,19,69,441,49,26,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177,309,221,736,158,314,87,190,1579,251,120,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
178,358,335,1281,112,663,201,312,2105,817,457,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
179,224,264,934,74,736,46,223,1486,169,58,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
180,331,732,2555,256,1279,160,322,4334,529,244,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
181,608,1260,3038,220,1794,361,998,5195,821,394,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [57]:
from sklearn.model_selection import train_test_split

In [60]:
df.columns

Index(['exchang', 'long', '3', 'bscgem', 'cryptonew', 'hope', 'futur', '0',
       'project', 'airdrop', 'doge', 'bsc', 'shib', 'signal', '2021', 'daili',
       '2022', 'last', 'Close_DB_', 'Close_', 'year__2022', 'month__2',
       'month__3', 'month__4', 'month__5', 'month__6', 'month__7', 'month__8',
       'month__9', 'month__10', 'month__11', 'month__12'],
      dtype='object')

In [75]:
df["diff"] = df[["Close_", "Close_DB_"]].apply(lambda x: x[0]-x[1], axis=1)

In [76]:
df.columns

Index(['exchang', 'long', '3', 'bscgem', 'cryptonew', 'hope', 'futur', '0',
       'project', 'airdrop', 'doge', 'bsc', 'shib', 'signal', '2021', 'daili',
       '2022', 'last', 'Close_DB_', 'Close_', 'year__2022', 'month__2',
       'month__3', 'month__4', 'month__5', 'month__6', 'month__7', 'month__8',
       'month__9', 'month__10', 'month__11', 'month__12', 'diff'],
      dtype='object')

In [77]:
X= df.drop(["Close_", "diff"], axis=1)
y = df.diff
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [78]:
clf = RidgeCV(alphas=[1e-3, 1e-2, 1e-1, 1]).fit(X_train, y_train)
clf.score(X_test, y_test)

-0.010802653697063569

In [79]:
clf.alpha

AttributeError: 'RidgeCV' object has no attribute 'alpha'

In [80]:
import statsmodels.api as sm

In [81]:
X = sm.add_constant(X, prepend=False)
mod = sm.OLS(y, X)
res = mod.fit()
print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.168
Model:                            OLS   Adj. R-squared:                 -0.003
Method:                 Least Squares   F-statistic:                    0.9805
Date:                Mon, 01 Aug 2022   Prob (F-statistic):              0.504
Time:                        22:51:46   Log-Likelihood:                -1587.6
No. Observations:                 182   AIC:                             3239.
Df Residuals:                     150   BIC:                             3342.
Df Model:                          31
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
exchang       -0.1736      0.504     -0.344      0.731      -1.170       0.823
long          -1.2230      0.914     -1.338      0.183      -3.029       0.583
3              0.5262      0.392      1.343      0.181      -0.248       1.300
bscgem         0.1227      0.641      0.191      0.849      -1.145       1.390
cryptonew      0.9556      0.729      1.311      0.192      -0.485       2.396
hope          -0.3538      1.122     -0.315      0.753      -2.571       1.864
futur      -7.894e-05      0.734     -0.000      1.000      -1.450       1.450
0             -0.1164      0.237     -0.491      0.624      -0.585       0.352
project        0.1197      0.239      0.501      0.617      -0.352       0.591
airdrop       -0.1029      0.180     -0.572      0.568      -0.458       0.253
doge          -0.0366      0.373     -0.098      0.922      -0.774       0.701
bsc            0.1263      0.206      0.612      0.541      -0.281       0.534
shib          -0.3237      0.311     -1.040      0.300      -0.939       0.291
signal         0.0565      0.588      0.096      0.924      -1.106       1.219
2021           0.0757      0.410      0.184      0.854      -0.735       0.887
daili          0.0065      0.721      0.009      0.993      -1.418       1.431
2022           0.0181      0.472      0.038      0.969      -0.914       0.950
last          -0.3908      0.410     -0.953      0.342      -1.201       0.419
Close_DB_     -0.1148      0.038     -3.034      0.003      -0.190      -0.040
year__2022 -1012.3041    634.735     -1.595      0.113   -2266.480     241.872
month__2   -1672.2191    865.521     -1.932      0.055   -3382.406      37.968
month__3   -1327.7752    827.921     -1.604      0.111   -2963.669     308.119
month__4     -61.7691    871.664     -0.071      0.944   -1784.095    1660.557
month__5   -1954.1446    931.642     -2.098      0.038   -3794.980    -113.309
month__6   -1989.5884   1084.060     -1.835      0.068   -4131.589     152.412
month__7   -3118.6557   1104.634     -2.823      0.005   -5301.309    -936.003
month__8   -1916.9021    988.149     -1.940      0.054   -3869.391      35.587
month__9   -1624.3718   1872.042     -0.868      0.387   -5323.350    2074.606
month__10    637.6104   1293.831      0.493      0.623   -1918.877    3194.097
month__11   1071.1433   1223.443      0.876      0.383   -1346.265    3488.551
month__12  -1196.3738   1149.726     -1.041      0.300   -3468.123    1075.375
const       6628.2969   2097.019      3.161      0.002    2484.786    1.08e+04
==============================================================================
Omnibus:                       20.570   Durbin-Watson:                   2.251
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               88.198
Skew:                           0.114   Prob(JB):                     7.05e-20
Kurtosis:                       6.403   Cond. No.                     1.11e+06
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.11e+06. This might indicate that there are
strong multicollinearity or other numerical problems.

In [86]:
import numpy as np

In [87]:
np.mean((res.predict(X)-y)**2)**0.5

1486.0913627583031

In [88]:
from sklearn.feature_extraction.text import TfidfVectorizer